<nav class="navbar navbar-expand-lg  navbar navbar-dark" style="font-family:Georgia, 'Times New Roman', Times, serif;">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand me-2" href="#">
        <img class="logo"
        src="../../assets/logosto.jpg"
        height="90"
          alt="Auto Nait"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">ACCUEIL <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#home_section">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#qui">QUI SOMMES-NOUS ?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#brands">NOS VÉHICULES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#pills-contact">
                 <img src="./../assets/icon/call.png" height="15" alt="img" style="max-width: 30px; max-height: 15px;margin-top: -5px;  "/>CONTACT</a>
          </li>
      </ul>
      <div class="d-flex inline my-2 my-lg-0" style="font-family:Georgia, 'Times New Roman', Times, serif;">
        <button type="button" class="btn btn-link px-3 me-2" style="color: #e45c30;">
            Connexion
        </button>
        <button type="button" class="btn  me-3" style="background-color: #e45c30;  color: white;">
          <a href="#addcli">Enregister</a>
        </button>
      
      </div>
    </div></div> 
  </nav>
  <hr style=" position:absolute;
  width: 30%;
  top:70px;
  left:32%;
   color:#e45c30;
   background-color: #e45c30;">
  
  