


      <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" hidden>
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-stepper [linear]="!isLinear" #stepper style="background-color: black;">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper> -->



      <div class="example-input-wrapper" hidden>
        <label for="duration">Animation duration:</label>
        <input id="duration" value="2000" type="number" min="0" step="100" #duration>
      </div>
      
      <mat-vertical-stepper [linear]="true" #stepper [animationDuration]="duration.value" style="background-color: black; color: white;">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">

            <div class="container-fluid">
                <div class="row">
                      <div class="col">
                           <div class="md-form">
                            <mat-form-field>
                                <input matInput placeholder="Prenom" formControlName="firstCtrl" required name="prenom">
                              </mat-form-field>
                             
                               
                            </div>
                          </div>
                  <div class="col">
                        <div class="md-form">
                            <mat-form-field>
                                <input matInput placeholder="Nom" formControlName="secondCtrl" required>
                              </mat-form-field>
                             
                          
                        </div>
                  </div>
            </div></div>




            <!-- <ng-template matStepLabel>Nom et Prenom</ng-template>
            <mat-form-field>
              <input matInput placeholder="Prenom" formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nom" formControlName="firstCtrl" required>
              </mat-form-field> -->
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>N° Tele et Aage</ng-template>
              <mat-form-field>
                <input matInput placeholder="N° tele" formControlName="thirdCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Age" formControlName="fourthCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>N° CNE ou N° Passports et N° de permis</ng-template>
            <mat-form-field>
              <input matInput placeholder="CNE / Passports" formControlName="fifthCtrl" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="N° de permis" formControlName="sixthCtrl" required>
              </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
              <ng-template matStepLabel>Nom d'utilisateur / Password</ng-template>
              <mat-form-field>
                <input matInput placeholder="Nom d'utilisateur" formControlName="sevenCtrl" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="eighthCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
         
          
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

























    

