

<body ng-app="" style="background-color: black;font-family:Georgia, 'Times New Roman', Times, serif; color: white;">
  <input hidden value="{{login_status}}" name="login_status">





  <ng-container *ngIf="login_status== null || login_status=='true';else second">
    Rejoignez-nous :<br><br>
      <div class="example-input-wrapper" hidden>
        <label for="duration">Animation duration:</label>
        <input id="duration" value="2000" type="number" min="0" step="100" #duration>
      </div>
      <div *ngIf="submitted">
        <div class="alert alert-success" role="alert">
          Bienvenue dans notre famille!
        </div>
      </div><div *ngIf="username">
        <div class="alert alert-danger" role="alert">
          Nom d'utilisateur déjà utilisé , Réessayer!!
                </div>
       
      </div>
      <mat-vertical-stepper [linear]="true" #stepper [animationDuration]="duration.value" 
      style="background-color: black; color: white;" >
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">

         




            <ng-template matStepLabel>Nom et Prenom</ng-template>
            <mat-form-field>
              <input matInput placeholder="Prenom" formControlName="firstCtrl" name="first_name" required [(ngModel)]="user.first_name"
              
              >
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nom" formControlName="secondCtrl" name="last_name" required [(ngModel)]="user.last_name">
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>N° Tele et Aage</ng-template>
              <mat-form-field>
                <input matInput placeholder="N° tele" formControlName="thirdCtrl" required [(ngModel)]="user.phone" name="phone" minlength="10">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Age Au Moins 23" formControlName="fourthCtrl" required [(ngModel)]="user.age" name="age" type="number" min="23"
                >
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>N° CNE ou N° Passports et N° de permis</ng-template>



            
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="CNE" id="CNE" ng-model="CNE"  value = "CNE" >
              <label class="form-check-label" for="CNE">
                
                CNE
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Passports" id="Passports" checked ng-model="Passports"  value = "Passports"  >
              <label class="form-check-label" for="Passports">
                Passports
              </label>
            </div> <mat-form-field  ng-show="CNE">
              
             
              <input matInput placeholder="CNE" formControlName="fifthCtrl" required [(ngModel)]="user.card_id_or_passeport" name="card_id_or_passeport">
          </mat-form-field>
            <mat-form-field ng-show="Passports">
              
          
                <input matInput placeholder="Passports" formControlName="fifthCtrl" required [(ngModel)]="user.card_id_or_passeport" name="card_id_or_passeport">
              
          </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="N° de permis" formControlName="sixthCtrl" required [(ngModel)]="user.driving_license" name="driving_license">
              </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
              <ng-template matStepLabel>Nom d'utilisateur / Mot de passe</ng-template>
              <mat-form-field>
                <input matInput placeholder="Nom d'utilisateur" formControlName="sevenCtrl" required [(ngModel)]="user.username" 
                name="username">
                
                
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Mot de passe" formControlName="eighthCtrl" required [(ngModel)]="user.password" name="password">
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
         
          
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <div>
                <button mat-button mat-raised-button class="btn btn-primary" type="submit" (click)="AddUser()" >Réservation</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
  </ng-container>
  



















  <ng-template #second>
    <ng-container *ngIf="login_status=='false'">
      
        <app-loginform></app-loginform>
        
    
        </ng-container>

    
  </ng-template>






    



    </body>
















    

