.pri{
	font-weight: 700; 

@media (min-width: 640px) { 
  float: right; 
 }

}
.slj{
	border-width: 1px; 
border-color: #D1D5DB; 
appearance: none; 

}
.masko{
	display: flex; 
align-items: center; 

}
.natam{
	margin-right: 0.5rem; 
font-weight: 900; 
}
.bokowa{
	margin-right: 0.75rem; 

@media (min-width: 640px) { 
  padding-top: 0.25rem; 
margin-right: 1.5rem; 
 }
@media (min-width: 768px) { 
  margin-right: 2rem; 
 }

}
.eni{display: flex; 
	margin-top: 1rem; }
.dohi{
	border-width: 1px; 
border-color: #D1D5DB; 
appearance: none; 
}
.betsno{
	margin-right: 0.5rem; 
line-height: 1.25rem; 
text-align: center; 
width: 1.5rem; 
height: 1.5rem; 
border-radius: 9999px; 
border-width: 2px; 

}
.yaro{
	padding-top: 0.5rem;
padding-bottom: 0.5rem; 
margin-right: 0.5rem; 


}
.fire{
	margin-top: 0.75rem; 
color: #9CA3AF; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 500; 
letter-spacing: 0.05em; 

}
.tok{
	font-size: 2.25rem;
line-height: 2.5rem; 
font-weight: 600; 
}
.sdu{
	padding-top: 2.5rem; 
padding-bottom: 2.5rem; 
text-align: center; 
border-bottom-width: 1px; 
}
.plot{
	padding-top: 0.75rem;
padding-bottom: 0.75rem; 
padding-left: 5rem;
padding-right: 5rem; 
font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 
}
.kho{
	padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 3rem;
padding-right: 3rem; 
color: #374151; 
font-size: 1.125rem;
line-height: 1.75rem; 
font-weight: 700; 


}
.sol{
	margin-right: 0.75rem; 

@media (min-width: 640px) { 
  padding-top: 0.25rem; 
margin-right: 1.5rem; 
 }
@media (min-width: 768px) { 
  margin-right: 2rem; 
 }

}
.po{
	padding: 1.25rem; 
border-bottom-width: 1px; 

}
.fle{
	display: flex; 
margin-top: 0.5rem; 

}
.ooo{
	padding-left: 1.25rem;
padding-right: 1.25rem; 
padding-top: 2.5rem; 
padding-bottom: 3rem; 
text-align: center; 
border-bottom-width: 1px; 
}
.ppp{
	margin-bottom: 0.75rem; 
font-weight: 700; 

}
.flex{
	flex-grow: 1; 
}
.hito{
	color: #1F2937; 

}
.iiiiii{
	padding-left: 1.25rem;
padding-right: 1.25rem; 
padding-top: 2.5rem;
padding-bottom: 2.5rem; 
margin-top: 1.25rem; 
text-align: center; 
border-width: 1px; 
}
.service-info li {
	  color: #767676;
	  font-size: 0.85rem;
	  display: inline-block;
	}
	.service-info .mat-icon {
	  font-size: 14px;
	}
  

.poto{
width: 50%;
margin:5%;
position: absolute;
	top: 60%;
	
}









.fl{
	display: flex; 
justify-content: center; 

}


.ty{
	position: relative; 
margin-bottom: 0.75rem; 




@media (min-width: 1280px) { 
  width: 24rem; 
 }
}
.qba{
	display: block; 
padding-top: 0.375rem;
padding-bottom: 0.375rem; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
margin: 0; 
background-clip: padding-box; 
background-color: #ffffff; 
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
color: #374151; 
font-size: 1rem;
line-height: 1.5rem; 
font-weight: 400; 
width: 100%; 
border-radius: 0.25rem; 
border-width: 1px; 
border-color: #D1D5DB; 
border-style: solid; 
}














.row {
	display: flex;

  }

  .inline-block {
	display: inline-block;
 }

  .row1{
    margin: 5px;

  }

  igx-card-media >img{
    width: 250px;
    border-radius:5%;
    margin: 2px;
	height: 200px;
	
}
igx-card-media{	text-align: center;
	font-family:Georgia, 'Times New Roman', Times, serif;

}
.card {
	cursor: pointer;
    -webkit-perspective: 800px;
    perspective: 1000px;
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin: auto;
	font-family:Georgia, 'Times New Roman', Times, serif;
	
}
.card{
	margin-left: 70%;
	right: 0;
	width: 100%;
}


.card-wrapper{
    width: 100%;

}



.car_img{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(153,151,153,1) 60%, rgba(255,255,255,1) 100%);
    width: auto;
}
.car_img >img{
    width: 50%;
}


.section {
	position: relative;
	width: auto;
	height: 100vh;
}
input{
	text-align: center;
	font-family:Georgia, 'Times New Roman', Times, serif;
}
.section .section-center {
	position: absolute;
	top: 40%;
	left: 20;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Raleway', sans-serif;
}

.booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 40px;
	overflow: hidden;
	background-size: cover;
	border-radius: 5px;
	z-index: 20;
	
}

.booking-form::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.booking-form .form-header {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-header h1 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 42px;
	margin: 0px;
	color: #fff;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
	
}

.booking-form .form-control {
	background-color: rgba(255, 255, 255, 0.2);
	height: 60px;
	padding: 0px 25px;
	border: none;
	border-radius: 40px;
	color: #fff;
	-webkit-box-shadow: 0px 0px 0px 2px transparent;
	box-shadow: 0px 0px 0px 2px transparent;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
	-webkit-box-shadow: 0px 0px 0px 2px #ff8846;
	box-shadow: 0px 0px 0px 2px #ff8846;
}

.booking-form input[type="date"].form-control {
	
	padding-top: 16px;
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form input[type="date"].form-control+.form-label {
	opacity: 1;
	top: 10px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}
.booking-form input[type="text"].form-control+.form-label {
	font-family:Georgia, 'Times New Roman', Times, serif;
	
	opacity: 1;
	top: 10px;
}
.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form select.form-control option {
	color: #000;
}

.booking-form .form-label {
	position: absolute;
	top: -10px;
	left: 25px;
	opacity: 0;
	color: #ff8846;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	height: 15px;
	line-height: 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.label{
	position: absolute;
	top: -10px;
	left: 25px;
	color: #ff8846;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	height: 15px;
	line-height: 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
.booking-form .form-group.input-not-empty .form-control {
	padding-top: 16px;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #e35e0a;
	font-weight: 700;
	height: 60px;
	padding: 10px 30px;
	width: 100%;
	border-radius: 40px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.3px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}